%p Dashboard
%hr
.table-responsive
  = table_for @commodities, table_html: { class: 'table' } do |t|
    = t.column :yahoo_symbol 
    - @fetch_times.each_with_index do |fetch_time, fetch_time_index|
      = t.column fetch_time.getlocal.strftime('%D %T') do |commodity|
        = commodity.prices.recent[fetch_time_index].try(&:last_price)

%p
  = link_to 'Capture now', capture_now_commodities_path, method: :post, class: 'btn btn-info'
%p Capture errors
%hr
- @capture_errors.each do |capture_error|
  %p #{capture_error.created_at.getlocal.to_s(:long)}: #{capture_error.message}
