!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Commodityprices
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = navbar static: :top, container: 'fluid' do
      = navbar_header brand: 'Commodity Prices', brand_link: root_path
      = navbar_group do
        = navbar_item 'Dashboard', root_path
        = navbar_item 'Magage Commodities', commodities_path
        = navbar_item 'Site Configuration', edit_site_configuration_path
        = navbar_item 'Reports', reports_path
    .container-fluid
      - flash.each do |type, message|
        .alert{class: { alert: 'alert-danger', notice: 'alert-success' }[type.to_sym]}
          = message
      = yield
